<div id="admin_sub_nav">
  <div class="sn_left">
    <% if na %>
      You're creating a new image.
    <% else %>
      <%= form_tag(Site.full_url + '/admin/posts/search', :id => 'post_search_form') do %>
        <%= link_to_action 'Upload a new file', Site.full_url + '/admin/images/new' %>
      <% end -%>
    <% end %>
  </div>
  <br/>
</div>
